<div class="main-wrapper">

    <app-header></app-header>
    <app-sidebar></app-sidebar>


    <div class="page-wrapper">
        <div class="content">

            <div class="page-header">
                <div class="page-title">
                    <h4>Item Addition</h4>
                    <h6>Add/Update Item</h6>
                </div>
                <div>
                    <a data-toggle="modal" data-target="#exampleModalCenter">
                        <img src="assets/img/icons/eye.svg" alt="">
                    </a>
                </div>
            </div>




            <div class="row">
                <div class="col-lg-12">
                    <div class="form-group">



                        <div class="image-upload mb-2">
                            <input #fileInput type="file" (change)="onFileSelected($event)"
                                [disabled]="uploadedFile!=null" accept=".xlsx,.csv" value="">
                            <div class="image-uploads">
                                <img *ngIf="!uploadedFile" src="assets/img/icons/upload.svg" alt="img">
                                <img *ngIf="uploadedFile" src="assets/img/icons/check.png" alt="img" width="25"
                                    height="25">
                                <h4 *ngIf="!uploadedFile">Drag and drop a file to upload</h4>
                                <h4 class="text-success" *ngIf="uploadedFile">File Uploaded</h4>
                            </div>
                        </div>


                        <div class="d-flex justify-content-end">

                            <div class="page-btn">
                                <button class="btn btn-primary me-2" [disabled]="uploadedFile==null"
                                    (click)="saveUploadFile()">Save</button>
                                <button class="btn btn-secondary" [disabled]="uploadedFile==null"
                                    (click)="onFileCancel()">Cancel</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


            <div class="row">
                <h4 class="mb-4 text-center">------------------- Or Add Manually -------------------</h4>
            </div>



            <div class="card">
                <div class="card-body">
                    <form class="row" [formGroup]="addEmployeeForm">


                        <div class="col-sm-4 col-12" *ngIf="isEmployeeEditedData">
                            <div class="form-group">
                                <label>Employee ID <span class="manitory">*</span></label>
                                <input type="text" formControlName="employee_id" class="form-control">
                            </div>
                        </div>

                        <!-- <div class="col-sm-4 col-12" >
                            <div class="form-group">
                                <label>Vendor Name <span class="manitory">*</span></label>
                                <input type="text" formControlName="vendor_name" class="form-control">
                            </div>
                        </div> -->

                        <div class="col-sm-4 col-12" *ngIf="isEmployeeEditedData">
                            <div class="form-group">
                                <label>Business Branch <span class="manitory">*</span></label>
                                <input type="text" formControlName="business_branch" class="form-control">
                            </div>

                        </div>

                        <div class="col-sm-4 col-12">
                            <div class="form-group">
                                <label>First Name <span class="manitory">*</span></label>
                                <input type="text" formControlName="first_name" class="form-control">
                                <p *ngIf="addEmployeeForm.controls.first_name?.errors?.required==true"
                                    class="text-danger">First Name Required</p>
                            </div>

                        </div>




                        <div class="col-sm-4 col-12">
                            <div class="form-group">
                                <label>Middle Name</label>
                                <input type="text" formControlName="middle_name" class="form-control">

                            </div>
                        </div>

                        <div class="col-sm-4 col-12">
                            <div class="form-group">
                                <label>Last Name <span class="manitory">*</span></label>
                                <input type="text" formControlName="last_name" class="form-control">
                                <p *ngIf="addEmployeeForm.controls.last_name?.errors?.required==true"
                                    class="text-danger">Last Name required </p>

                            </div>
                        </div>

                        <div class="col-sm-4 col-12">
                            <div class="form-group">
                                <label>Date of Birth <span class="manitory">*</span></label>
                                <input type="date" formControlName="date_of_birth" class="form-control" [max]="currentDate">
                                <p *ngIf="addEmployeeForm.controls.date_of_birth?.errors?.required==true"
                                    class="text-danger">Date of birth required </p>
                            </div>

                        </div>

                        <div class="col-sm-4 col-12">
                            <div class="form-group">
                                <label>Email <span class="manitory">*</span></label>
                                <input type="email" formControlName="email" class="form-control">
                                <p *ngIf="addEmployeeForm.controls.email?.errors?.required==true" class="text-danger">
                                    Email required </p>
                            </div>
                        </div>

                        <div class="col-sm-4 col-12">
                            <div class="form-group">
                                <label>Phone Number <span class="manitory">*</span></label>
                                <input type="number" formControlName="phone_number" class="form-control">
                                <p *ngIf="addEmployeeForm.controls.phone_number?.errors?.required==true"
                                class="text-danger">Phone number required </p>
                                <p *ngIf="addEmployeeForm.controls.phone_number?.errors?.pattern"
                                class="text-danger">Enter Valid phone number </p>
                            </div>
                        </div>

                        <div class="col-sm-4 col-12">
                            <div class="form-group">
                                <label>Emergency Contact <span class="manitory">*</span></label>
                                <input type="number" formControlName="emergency_contact" class="form-control">
                                <p *ngIf="addEmployeeForm.controls.emergency_contact?.errors?.required==true"
                                class="text-danger"> Emergency contact required </p>
                                <p *ngIf="addEmployeeForm.controls.emergency_contact?.errors?.pattern"
                                class="text-danger">Enter Valid phone number </p>
                            </div>
                        </div>

                        <div class="col-sm-4 col-12">
                            <div class="form-group">
                                <label>Gender <span class="manitory">*</span></label>
                                <select formControlName="gender" class="form-control">
                                    <option value="" disabled>Select Gender</option>
                                    <option value="Male" style="border: solid;">Male</option>
                                    <option value="Female">Female</option>
                                    <option value="Other">Other</option>
                                </select>

                                <p *ngIf="addEmployeeForm.controls.gender?.errors?.required==true"
                                class="text-danger"> Gender required </p>
                                
                            </div>
                        </div>

                        <div class="col-sm-4 col-12">
                            <div class="form-group">
                                <label>Designation <span class="manitory">*</span></label>
                                <input type="text" formControlName="designation" class="form-control">

                                <p *ngIf="addEmployeeForm.controls.designation?.errors?.required==true"
                                class="text-danger"> Designation required </p>
                                
                            </div>
                        </div>

                        <div class="col-sm-4 col-12">
                            <div class="form-group">
                                <label>Team Name <span class="manitory">*</span></label>
                                <input type="text" formControlName="team_name" class="form-control">
                                <p *ngIf="addEmployeeForm.controls.team_name.errors?.required==true"
                                class="text-danger"> Team Name required </p>
                                
                            </div>
                        </div>

                        <div class="col-sm-4 col-12">
                            <div class="form-group">
                                <label>Discount Eligibility Upto <span class="manitory">*</span></label>
                                <input type="date" formControlName="Discount_eligibility_upto" class="form-control"  >
                                <p *ngIf="addEmployeeForm.controls.Discount_eligibility_upto?.errors?.required==true"
                                class="text-danger"> Discount_eligibility_upto required </p>
                                
                            </div>
                        </div>

                        <div class="col-sm-4 col-12">
                            <div class="form-group">
                                <label>Date of Joining <span class="manitory">*</span></label>
                                <input type="date" formControlName="date_of_joining" class="form-control">
                                <p *ngIf="addEmployeeForm.controls.date_of_joining.errors?.required==true"
                                class="text-danger"> Date of joining required </p>
                            </div>
                        </div>

                        <div class="col-sm-4 col-12">
                            <div class="form-group">
                                <label>Employee Status <span class="manitory">*</span></label>
                                <input type="text" formControlName="employee_status" class="form-control">
                                <p *ngIf="addEmployeeForm.controls.employee_status.errors?.required==true"
                                class="text-danger"> Employee status required </p>
                            </div>
                        </div>

                        <div class="col-sm-4 col-12">
                            <div class="form-group">
                                <label>Date of Exit</label>
                                <input type="date" formControlName="date_of_exit" class="form-control">
                            </div>
                        </div>

                        <div class="col-sm-4 col-12">
                            <div class="form-group">
                                <label>Country <span class="manitory">*</span></label>
                                <input type="text" formControlName="country" class="form-control">
                            </div>
                        </div>

                        <div class="col-sm-4 col-12">
                            <div class="form-group">
                                <label>State <span class="manitory">*</span></label>
                                <input type="text" formControlName="state" class="form-control">
                            </div>
                        </div>

                        <div class="col-sm-4 col-12">
                            <div class="form-group">
                                <label>City <span class="manitory">*</span></label>
                                <input type="text" formControlName="city" class="form-control">
                            </div>
                        </div>

                        <div class="col-sm-4 col-12">
                            <div class="form-group">
                                <label>Pin Code <span class="manitory">*</span></label>
                                <input type="text" formControlName="pin_code" class="form-control" appNumbersOnly>
                                <p *ngIf="addEmployeeForm.controls.pin_code?.errors?.pattern"
                                class="text-danger"> Enter Valid Pin code </p>
                            </div>
                        </div>

                        <div class="col-sm-4 col-12">
                            <div class="form-group">
                                <label>Landmark</label>
                                <input type="text" formControlName="landmark" class="form-control">
                            </div>
                        </div>

                        <div class="col-sm-4 col-12">
                            <div class="form-group">
                                <label>Aadhaar Number <span class="manitory">*</span></label>
                                <input type="text" formControlName="adhar_no" class="form-control">
                            </div>
                        </div>

                        <div class="col-sm-4 col-12">
                            <div class="form-group">
                                <label>PAN Number <span class="manitory">*</span></label>
                                <input type="text" formControlName="pan" class="form-control">
                            </div>
                        </div>

                        <div class="col-sm-4 col-12">
                            <div class="form-group">
                                <label>Bank <span class="manitory">*</span></label>
                                <input type="text" formControlName="bank" class="form-control">
                            </div>
                        </div>

                        <div class="col-sm-4 col-12">
                            <div class="form-group">
                                <label>Salary <span class="manitory">*</span></label>
                                <input type="number" formControlName="salary" class="form-control">
                            </div>
                        </div>

                        <div class="col-sm-4 col-12">
                            <div class="form-group">
                                <label>Casual Leaves Taken <span class="manitory">*</span></label>
                                <input type="number" formControlName="casual_leaves_taken" class="form-control">
                            </div>
                        </div>

                        <div class="col-sm-4 col-12">
                            <div class="form-group">
                                <label>Casual Leaves Balance <span class="manitory">*</span></label>
                                <input type="number" formControlName="casual_leaves_balance" class="form-control">
                            </div>
                        </div>

                        <div class="col-sm-4 col-12">
                            <div class="form-group">
                                <label>Sick Leaves Taken <span class="manitory">*</span></label>
                                <input type="number" formControlName="sick_leaves_taken" class="form-control">
                            </div>
                        </div>

                        <div class="col-sm-4 col-12">
                            <div class="form-group">
                                <label>Sick Leaves Balance <span class="manitory">*</span></label>
                                <input type="number" formControlName="sick_leaves_balance" class="form-control">
                            </div>
                        </div>

                        <div class="col-sm-4 col-12">
                            <div class="form-group">
                                <label>Privilege Leaves Taken <span class="manitory">*</span></label>
                                <input type="number" formControlName="privilege_leaves_taken" class="form-control">
                            </div>
                        </div>

                        <div class="col-sm-4 col-12">
                            <div class="form-group">
                                <label>Privilege Leaves Balance <span class="manitory">*</span></label>
                                <input type="number" formControlName="privilege_leaves_balance" class="form-control">
                            </div>
                        </div>

                        <div class="col-sm-4 col-12">
                            <div class="form-group">
                                <label>Total Taken Leaves <span class="manitory">*</span></label>
                                <input type="number" formControlName="total_taken_leaves" class="form-control">
                            </div>
                        </div>

                        <div class="col-sm-4 col-12">
                            <div class="form-group">
                                <label>Total Leaves Balance <span class="manitory">*</span></label>
                                <input type="number" formControlName="total_leaves_balance" class="form-control">
                            </div>
                        </div>

                    </form>

                    <div class="d-flex justify-content-end">
                        <div class="page-btn">
                            <button class="btn btn-primary me-2"
                                (click)="addEmployee()">{{isEmployeeEditedData?'Update':'Add'}}</button>
                            <button class="btn btn-secondary">Cancel</button>
                        </div>
                    </div>
                </div>
            </div>



        </div>
    </div>
</div>










<div class="modal show bd-example-modal-lg" id="exampleModalCenter" tabindex="-1" role="dialog"
    aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header justify-content-center">
                <h5 class="modal-title" id="exampleModalLongTitle">Set of Instructions</h5>

            </div>
            <div class="modal-body px-5 py-4">
                <ul style="list-style: initial;">
                    <li>Fill in the employee's full name.</li>
                    <li>Enter the date of birth.</li>
                    <li>Provide the email address.</li>
                    <li>Enter the phone number.</li>
                    <li>Add emergency contact information.</li>
                    <li>Specify the gender.</li>
                    <li>Input the designation.</li>
                    <li>Mention the team name.</li>
                    <li>Include the discount eligibility date.</li>
                    <li>Enter the date of joining.</li>
                    <li>Add the date of exit if applicable.</li>
                    <li>Provide the employee’s address details (Country, State, City, Pin code, Landmark).</li>
                    <li>Enter identification numbers (Aadhaar No., PAN No.).</li>
                    <li>Provide the bank name.</li>
                    <li>Enter the salary details.</li>
                    <li>Input leave details (Casual leaves taken and balance, Sick leaves taken and balance, Privilege
                        leaves taken and balance).</li>
                    <li>Calculate and record the total taken leaves and total leaves balance.</li>

                </ul>
            </div>
            <div class="modal-footer justify-content-evenly">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" (click)="excelDownload()" data-dismiss="modal">Download
                    Excel</button>
            </div>
        </div>
    </div>
</div>