<div class="main-wrapper">

    <app-header></app-header>
    <app-sidebar></app-sidebar>

    <div class="page-wrapper">
        <div class="content ">

            <div class="row">
                <app-dashboard-cards [cards_data]="cardsData" *ngIf="cardsData"></app-dashboard-cards>
            </div>


            <div class="card table-cstm-box">

                <div class="card-header pb-0">
                    <h5 class="card-title">Items Data</h5>



                    <div class="menu_items_header">
                        <div class="items_header col-12 col-sm-4 px-0">
                            <div class="items_search">
                                <img src="assets/img/icons/search-white.svg" alt="img" class="me-2">

                                <input type="search" class="traking_search_input" placeholder="Search here"
                                    [(ngModel)]="itemSearchValue" (input)="onInputChange($event)">
                                <h5 (click)=" onInputCross()">&times;</h5>

                            </div>

                            <div class="items_filter" (click)="filterItems()">
                                <img [src]='filterActive ? "assets/img/icons/closes.svg":"assets/img/icons/filter.svg"'
                                    alt="">
                            </div>

                        </div>


                        <div class="col-12 col-sm-3 px-0 ">
                            <div class="form-group mb-0">
                                <!-- <label>Category<span class="manitory">*</span></label> -->
                                 <!-- <label>Category<span class="manitory">*</span></label> -->
                                 <div class="btn-group">
                                    <button type="button" class="custom-select-btn dropdown-toggle text-left"
                                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        <!-- <i class="ion-ios-sunny mr-4"></i> -->
                                        {{selectedBranchValue}}
                                    </button>
                                    <div class="dropdown-menu dropdown-menu-right">
                                        <a class="dropdown-item " *ngFor="let item of branchList"
                                            (click)="selectBranch(item)">
                                            {{item}}
                                        </a>

                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>


                    <div class="filter_fields d-flex flex-wrap mt-4" *ngIf="filterActive">

                        <div class=" col-sm-4 col-12 ps-0">
                            <div class="form-group">
                                <label>Category<span class="manitory">*</span></label>
                                <div class="btn-group">
                                    <button type="button" class="custom-select-btn dropdown-toggle text-left"
                                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        <!-- <i class="ion-ios-sunny mr-4"></i> -->
                                        <!-- {{selectedSizeType}} -->
                                        {{selectedCategoryValue}}
                                    </button>
                                    <div class="dropdown-menu dropdown-menu-right">
                                        <a class="dropdown-item " *ngFor="let item of categoriesList"
                                            (click)="selectCatgeory(item)">
                                            {{item.name}}
                                        </a>

                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class=" col-sm-4 col-12 ps-0">
                            <div class="form-group">
                                <label>Sub Category<span class="manitory">*</span></label>
                                <div class="btn-group">
                                    <button type="button" class="custom-select-btn dropdown-toggle text-left"
                                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        <!-- <i class="ion-ios-sunny mr-4"></i> -->
                                        <!-- {{selectedSizeType}} -->
                                        {{selectedSubCategoryValue}}
                                    </button>
                                    <div class="dropdown-menu dropdown-menu-right">
                                        <a class="dropdown-item " *ngFor="let item of filteredSubCategoriesList"
                                            (click)="selectSubCatgeory(item)">
                                            {{item.name}}

                                        </a>

                                    </div>
                                </div>
                            </div>
                        </div>


                        <div class=" col-sm-4 col-12 ps-0">
                            <div class="form-group">
                                <label>Sub Sub Category<span class="manitory">*</span></label>
                                <div class="btn-group">
                                    <button type="button" class="custom-select-btn dropdown-toggle text-left"
                                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        <!-- <i class="ion-ios-sunny mr-4"></i> -->
                                        <!-- {{selectedSizeType}} -->
                                        {{selectedSubSubCategoryValue}}
                                    </button>
                                    <div class="dropdown-menu dropdown-menu-right">
                                        <a class="dropdown-item " *ngFor="let item of filteredSubSubCategoriesList"
                                            (click)="selectSubSubCategory(item)">
                                            {{item.name}}
                                        </a>

                                    </div>
                                </div>
                            </div>
                        </div>


                    </div>
                </div>



                <div class="card-body" *ngIf="inventoryItemsData && inventoryItemsData.length!=0">
                    <div class="table-responsive">
                        <table class="table  table-nowrap mb-0 text-center ">
                            <thead>
                                <tr>
                                    <th>S.No</th>
                                    <th>Menu Item</th>
                                    <th>Item Type</th>
                                    <th style="max-width: 300px  !important;">Description</th>
                                    <th>Action</th>
                                    <th>Price</th>
                                    <th>Size Type</th>
                                    <th>Estimate Time</th>
                                    <th>Ingredients</th>
                                    <th>Spiciness</th>
                                    <th>Calories</th>
                                    <th>In-Stock/Out-Stock</th>
                                    <th>Category</th>
                                    <th>Sub Category</th>
                                    <th>Sub Sub Category</th>
                                </tr>
                            </thead>
                            <tbody *ngIf="inventoryItemsData">



                                <tr *ngFor="let item of inventoryItemsData ; let i=index;">

                                    <td>{{i+1}}</td>
                                    <td>{{item?.menu_item}}</td>
                                    <td>{{item?.item_type}}</td>
                                    <td style="max-width: 500px  !important;   padding-right: 50px !important;">
                                        {{item?.description | slice : 0:50}}...</td>
                                    <td>
                                        <span class="badges bg-lightgreen me-2" (click)="editItem(item)">Edit</span>

                                        <img src="assets/img/icons/delete.svg" alt="img" class="align-middle me-5"
                                            (click)="getDeletedItem(item.id)" data-toggle="modal"
                                            data-target="#exampleModalCenter">


                                    </td>
                                    <td>{{item?.price}}</td>
                                    <td class="text-center">{{item?.size_type}}</td>
                                    <td class="text-center">{{item?.estimate_time}}</td>
                                    <td>{{item?.incredients}}</td>
                                    <td>{{item?.spiciness}}</td>
                                    <td class="text-center">{{item?.calories}}</td>
                                    <td class="text-center">{{item?.in_stock==true?'Yes':'No'}}</td>
                                    <td class="text-center">{{getCategoryName(item?.category)}}</td>
                                    <td class="text-center">{{getSubCategoryName(item?.sub_category)}}</td>
                                    <td class="text-center">{{getSubSubCategoryName(item?.sub_sub_category)}}</td>


                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="row p-4" *ngIf="inventoryItemsData && inventoryItemsData.length==0">
                    <img src="assets/img/no_data_found.svg" style="width: 200px; height: 200px;margin: auto;">
                    <h4 class="text-center">No Data Found</h4>
                </div>
            </div>

        </div>
    </div>
</div>




<!-- Delete Confirmation Popup -->




<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Are Your Sure to Delete ?</h5>

            </div>
            <div class="modal-body">

                <h6>This process is irreversible</h6>
            </div>
            <div class="modal-footer justify-content-end">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" data-dismiss="modal"
                    (click)="deleteItem()">Delete</button>
            </div>
        </div>
    </div>
</div>