<div class="sidebar" id="sidebar">
    <div class="sidebar-inner slimscroll w-100">
        <div id="sidebar-menu" class="sidebar-menu ">
            <ul>
                <li [ngClass]="activeTile=='Tracker'?'submenu active':'submenu' " (click)="selectTile('Tracker')">
                    <a><img src="assets/img/icons/dashboard.svg" alt="img"><span>
                            Tracker</span> </a>
                </li>



                <li class="submenu">
                    <a [ngClass]="activeTile=='Inventory'?'submenu active':'submenu' "><img
                            src="assets/img/icons/sales1.svg" alt="img"><span>
                            Inventory</span> <span class="menu-arrow"></span></a>
                    <ul class="ms-3">
                        <li class="subsubmenu">
                            <a [ngClass]="activeTile=='items'?'submenu active':'submenu' ">
                                <span class="subsubmenuheading">Items</span>
                            </a>
                            <ul class="ms-3">
                                <li>
                                    <a [ngClass]="activeSubTile=='itemsOverview'?'submenu active':'submenu' "
                                        (click)="selectTile('itemsOverview')">Overview</a>
                                </li>
                                <li>
                                    <a [ngClass]="activeSubTile=='addInput'?'submenu active':'submenu' "
                                        (click)="selectTile('addInput')">Add Input</a>
                                </li>
                            </ul>
                        </li>

                        <li><a [ngClass]="activeSubTile=='category'?'submenu active':'submenu' "
                                (click)="selectTile('category')"> Category</a></li>
                        <li><a [ngClass]="activeSubTile=='subCategory'?'submenu active':'submenu' "
                                (click)="selectTile('subCategory')">Sub Category</a></li>
                        <li><a [ngClass]="activeSubTile=='subSubCategory'?'submenu active':'submenu' "
                                (click)="selectTile('subSubCategory')">Sub Sub Category</a></li>

                        <li><a [ngClass]="activeSubTile=='inventoryPreview'?'submenu active':'submenu' "
                                (click)="selectTile('inventoryPreview')">Preview</a></li>



                    </ul>
                </li>





                <li class="submenu">
                    <a><img src="assets/img/icons/expense1.svg" alt="img"><span>Profile</span> <span
                            class="menu-
                            arrow"></span></a>
                    <ul class="ms-3">
                        <li class="subsubmenu">
                            <a [ngClass]="activeTile=='items'?'submenu active':'submenu' ">
                                <span class="subsubmenuheading">Registration</span>
                            </a>
                            <ul class="ms-3">
                                <li>
                                    <a [ngClass]="activeSubTile=='itemsOverview'?'submenu active':'submenu' "
                                        (click)="selectTile('itemsOverview')">Overview</a>
                                </li>
                                <li>
                                    <a [ngClass]="activeSubTile=='addInput'?'submenu active':'submenu' "
                                        (click)="selectTile('addInput')">Add Input</a>
                                </li>
                            </ul>
                        </li>


                        <li class="subsubmenu">
                            <a [ngClass]="activeTile=='items'?'submenu active':'submenu' ">
                                <span class="subsubmenuheading">Employees</span>
                            </a>
                            <ul class="ms-3">
                                <li>
                                    <a [ngClass]="activeSubTile=='itemsOverview'?'submenu active':'submenu' "
                                        (click)="selectTile('itemsOverview')">Overview</a>
                                </li>
                                <li>
                                    <a [ngClass]="activeSubTile=='addInput'?'submenu active':'submenu' "
                                        (click)="selectTile('addInput')">Input</a>
                                </li>
                            </ul>
                        </li>


                    </ul>
                </li>




                <li [ngClass]="activeTile=='Dashboard'?'submenu active':'submenu' " (click)="selectTile('Dashboard')">
                    <a><img src="assets/img/icons/product.svg" alt="img"><span>
                            Dashboard</span></a>
                </li>

                <li [ngClass]="activeTile=='Social'?'submenu active':'submenu' " (click)="selectTile('Social')">
                    <a><img src="assets/img/icons/purchase1.svg" alt="img"><span>
                            Social</span></a>
                </li>



            </ul>
        </div>
    </div>
</div>