<div class="main-wrapper">
    <div class="account-content">
        <div class="login-wrapper">
            <div class="login-content">
                <div class="login-userset ">
                    <div class="login-logo">
                        <img src="assets/img/logo.png" alt="img">
                    </div>
                    <div class="login-userheading">
                        <h3>Enter New Password</h3>
                        <h4>Make Ensure New password and confirm password are same</h4>
                    </div>
                    <form [formGroup]="newPasswordForm">
                        <div class="form-login">
                            <label>New Password</label>
                            <div class="form-addons">
                                <input type="password" placeholder="Enter your new password"
                                    formControlName="new_password">
                                <img src="assets/img/icons/mail.svg" alt="img">
                            </div>
                            <p *ngIf="newPasswordForm.controls.new_password?.errors?.required==true"
                                class="text-danger">Please Enter New Password</p>

                        </div>

                        <div class="form-login">
                            <label>Confirm Password</label>
                            <div class="form-addons">
                                <input type="password" placeholder="Enter confirm your password"
                                    formControlName="confirm_password">
                                <img src="assets/img/icons/mail.svg" alt="img">
                            </div>
                            <p *ngIf="newPasswordForm.controls.confirm_password?.errors?.required==true"
                                class="text-danger">Please Enter Confirm Password</p>

                        </div>

                        <div class="form-login">
                            <button class="btn btn-login" [disabled]="newPasswordForm.invalid"
                                (click)="passwordReset()">Submit</button>
                        </div>
                    </form>
                    <!-- <div class="text-center">
                        <a href="">Cancel</a>
                    </div> -->
                </div>
            </div>
            <div class="login-img">
                <img src="assets/img/login.jpg" alt="img">
            </div>
        </div>
    </div>
</div>