<div class="main-wrapper">
    <div class="account-content">
        <div class="login-wrapper">
            <div class="login-content">
                <div class="login-userset">
                    <div class="login-logo">
                        <img src="assets/img/logo.png" alt="img">
                    </div>
                    <div class="login-userheading">
                        <h3>Create an Account</h3>
                        <h4>Continue where you left off</h4>
                    </div>
                    <form [formGroup]="signupForm">
                        <div class="form-login">
                            <label>Full Name</label>
                            <div class="form-addons">
                                <input type="text" placeholder="Enter your Business name" formControlName="fullName">
                                <img src="assets/img/icons/users1.svg" alt="img">
                            </div>
                            <p *ngIf="signupForm.controls.fullName?.errors?.required==true" class="text-danger">Please
                                Enter Your Business Name
                            </p>
                        </div>
                        <div class="form-login">
                            <label>Email</label>
                            <div class="form-addons">
                                <input type="text" placeholder="Enter your email address" formControlName="email">
                                <img src="assets/img/icons/mail.svg" alt="img">
                            </div>
                            <p *ngIf="signupForm.controls.email?.errors?.required==true" class="text-danger">Please
                                Enter Email Id</p>
                            <p *ngIf="signupForm.controls.email?.errors?.email==true" class="text-danger">Please Enter
                                Valid Email Id</p>
                        </div>


                        <div class="form-login">
                            <label>Mobile</label>
                            <div class="pass-group">
                                <input type="text" class="pass-input" placeholder="Enter Mobile Number" maxlength="10"
                                    formControlName="mobile">
                                <span class="fas toggle-password fa-mobile" aria-hidden="true"></span>
                            </div>
                            <p *ngIf="signupForm.controls.mobile?.errors?.required==true" class="text-danger">Please
                                Enter Your Mobile No</p>
                            <p *ngIf="signupForm.controls.mobile?.errors?.pattern || signupForm.controls.mobile?.errors?.minlength"
                                class="text-danger">Please Enter
                                Valid No</p>
                        </div>

                        <div class="form-login">
                            <label>Password</label>
                            <div class="pass-group">
                                <input type="password" class="pass-input" placeholder="Enter your password"
                                    formControlName="password">
                                <span class="fas toggle-password fa-eye-slash"></span>
                            </div>
                            <p *ngIf="signupForm.controls.password?.errors?.required==true" class="text-danger">Please
                                enter Your
                                Password</p>
                        </div>

                        <div class="form-login">
                            <button class="btn btn-login" (click)="userSignUp()" [disabled]="signupForm.invalid">Sign
                                Up</button>
                        </div>
                    </form>
                    <div class="signinform text-center">
                        <h4>Already a user? <a class="hover-a" (click)="navigateToSignin()">Sign In</a></h4>
                    </div>

                </div>
            </div>
            <div class="login-img">
                <img src="assets/img/login.jpg" alt="img">
            </div>
        </div>
    </div>
</div>