<div class="main-wrapper">

    <app-header></app-header>
    <app-sidebar></app-sidebar>


    <div class="page-wrapper">
        <div class="content">
            <div class="row">
                <div class="col-lg-3 col-sm-6 col-12">
                    <div class="dash-widget">
                        <div class="dash-widgetimg">
                            <span><img src="assets/img/icons/dash1.svg" alt="img"></span>
                        </div>
                        <div class="dash-widgetcontent">
                            <h5><span class="counters" data-count="307144.00">110</span></h5>
                            <h6>Total Orders</h6>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6 col-12">
                    <div class="dash-widget dash1">
                        <div class="dash-widgetimg">
                            <span><img src="assets/img/icons/dash2.svg" alt="img"></span>
                        </div>
                        <div class="dash-widgetcontent">
                            <h5><span class="counters" data-count="4385.00">4385</span></h5>
                            <h6>Total No. of Dues</h6>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6 col-12">
                    <div class="dash-widget dash2">
                        <div class="dash-widgetimg">
                            <span><img src="assets/img/icons/dash3.svg" alt="img"></span>
                        </div>
                        <div class="dash-widgetcontent">
                            <h5>&#8377;<span class="counters" data-count="385656.50">30000</span></h5>
                            <h6>Total Revenue</h6>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6 col-12">
                    <div class="dash-widget dash3">
                        <div class="dash-widgetimg">
                            <span><img src="assets/img/icons/dash4.svg" alt="img"></span>
                        </div>
                        <div class="dash-widgetcontent">
                            <h5>&#8377;<span class="counters" data-count="40000.00">3000</span></h5>
                            <h6>Wemesy Wallet</h6>
                        </div>
                    </div>
                </div>


            </div>

            <div class="row">
                <div class="col-lg-7 col-sm-12 col-12 d-flex">
                    <div class="card flex-fill">
                        <div class="card-header pb-0 d-flex justify-content-between align-items-center">
                            <h5 class="card-title mb-0">Purchase & Sales</h5>
                            <div class="graph-sets">
                                <ul>
                                    <li>
                                        <span>Sales</span>
                                    </li>
                                    <li>
                                        <span>Purchase</span>
                                    </li>
                                </ul>
                                <div class="dropdown">
                                    <button class="btn btn-white btn-sm dropdown-toggle" type="button"
                                        id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
                                        2022 <img src="assets/img/icons/dropdown.svg" alt="img" class="ms-2">
                                    </button>
                                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                        <li>
                                            <a class="dropdown-item">2022</a>
                                        </li>
                                        <li>
                                            <a class="dropdown-item">2021</a>
                                        </li>
                                        <li>
                                            <a class="dropdown-item">2020</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="card-body">
                            <!-- <div id="sales_charts"></div> -->

                            <canvas baseChart class="chart" [data]="barChartData" [options]="barChartOptions"
                                [type]="barChartType" (chartHover)="chartHovered($event)"></canvas>
                        </div>





                        <!-- 
                        <canvas baseChart [type]="'pie'" [datasets]="pieChartDatasets" [labels]="pieChartLabels"
                            [options]="pieChartOptions" [plugins]="pieChartPlugins" [legend]="pieChartLegend">
                        </canvas> -->









                    </div>
                </div>
                <div class="col-lg-5 col-sm-12 col-12 d-flex">
                    <div class="card flex-fill">
                        <div class="card-header pb-0 d-flex justify-content-between align-items-center">
                            <h4 class="card-title mb-0">Recently Added Products</h4>
                        </div>
                        <div class="card-body">
                            <canvas baseChart class="chart" [data]="pieChartData" [type]="pieChartType"
                                [options]="pieChartOptions">
                            </canvas>

                        </div>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-body">
                    <div class="table-top">
                        <div class="search-set">

                            <div class="search-input">
                                <a class="btn btn-searchset"><img src="assets/img/icons/search-white.svg" alt="img"></a>
                            </div>
                        </div>
                        <div class="wordset">
                            <ul>
                                <li>
                                    <button class="btn"
                                        [ngClass]="activeButton=='requested'?'btn-secondary':'btn-primary'"
                                        (click)="onBtnClick('requested')">Requests</button>
                                </li>
                                <li>
                                    <button class="btn" [ngClass]="activeButton=='active'?'btn-secondary':'btn-primary'"
                                        (click)="onBtnClick('active')">Active</button>

                                </li>
                                <li>
                                    <button class="btn"
                                        [ngClass]="activeButton=='checkout'?'btn-secondary':'btn-primary'"
                                        (click)="onBtnClick('checkout')">Checkout</button>
                                </li>
                                <li>
                                    <button class="btn"
                                        [ngClass]="activeButton=='history'?'btn-secondary':'btn-primary'"
                                        (click)="onBtnClick('history')">History</button>
                                </li>
                            </ul>
                        </div>
                    </div>



                    <div class="table-responsive">
                        <table class="table datanew" data-ordering="false" data-page-length="10"  *ngIf="activeButton=='requested'">
                            <thead>
                                <tr>
                                    <th>
                                        <label class="checkboxs">
                                            <input type="checkbox" id="select-all">
                                            <span class="checkmarks"></span>
                                        </label>
                                    </th>
                                    <th>User Name</th>
                                    <th>No of People</th>
                                    <th>Visit type</th>
                                    <th>Accept/Reject</th>

                                </tr>
                            </thead>


                            <tbody>
                                <tr *ngFor="let item of requestedOrdersDataList">
                                    <td>
                                        <label class="checkboxs">
                                            <input type="checkbox">
                                            <span class="checkmarks"></span>
                                        </label>
                                    </td>
                                    <td class="text-bolds">{{item.username}}</td>
                                    <td>{{item.no_of_people}}</td>
                                    <td>{{item.visit_type}}</td>
                                    <td>
                                        <a (click)="acceptOrNot(true,item.id)">
                                            <img src="assets/img/icons/check.png" alt="" width="25">
                                        </a>
                                        <a (click)="acceptOrNot(false,item.id)">
                                            <img src="assets/img/icons/remove.png" alt="" width="25">
                                        </a>

                                    </td>

                                </tr>

                                <tr>
                                    <td colspan="5">Accepted Data</td>
                                    <!-- <td>Accepted Data</td> -->
                                    <!-- <td>Accepted Data</td> -->
                                    <!-- <td>Accepted Data</td> -->
                                    <!-- <td>Accepted Data</td> -->
                                </tr>

                             
                                <tr *ngFor="let item of acceptedOrdersDataList">
                                    <td>
                                        <label class="checkboxs">
                                            <input type="checkbox">
                                            <span class="checkmarks"></span>
                                        </label>
                                    </td>
                                    <td class="text-bolds">{{item.username}}</td>
                                    <td>{{item.no_of_people}}</td>
                                    <td>{{item.visit_type}}</td>
                                    <td>
                                        <a (click)="acceptOrNot(true,item.id)">
                                            <img src="assets/img/icons/check.png" alt="" width="25">
                                        </a>
                                        <a (click)="acceptOrNot(false,item.id)">
                                            <img src="assets/img/icons/remove.png" alt="" width="25">
                                        </a>

                                    </td>

                                </tr>



                               
                            </tbody>





                        </table>

                        <table class="table datanew" data-ordering="false" data-page-length="10"  *ngIf="activeButton=='active'">
                            <thead>
                                <tr>
                                    <th>
                                        <label class="checkboxs">
                                            <input type="checkbox" id="select-all">
                                            <span class="checkmarks"></span>
                                        </label>
                                    </th>
                                    <th>User Name</th>
                                    <th>No of People</th>
                                    <th>Visit type</th>
                                    <th>Accept/Reject</th>

                                </tr>
                            </thead>


                            <tbody>
                                <tr *ngFor="let item of activeOrdersDataList">
                                    <td>
                                        <label class="checkboxs">
                                            <input type="checkbox">
                                            <span class="checkmarks"></span>
                                        </label>
                                    </td>
                                    <td class="text-bolds">{{item.username}}</td>
                                    <td>{{item.no_of_people}}</td>
                                    <td>{{item.visit_type}}</td>
                                   

                                </tr>
                            </tbody>





                        </table>


                        <table class="table datanew" data-ordering="false" data-page-length="10"  *ngIf="activeButton=='checkout'">
                            <thead>
                                <tr>
                                    <th>
                                        <label class="checkboxs">
                                            <input type="checkbox" id="select-all">
                                            <span class="checkmarks"></span>
                                        </label>
                                    </th>
                                    <th>User Name</th>
                                    <th>No of People</th>
                                    <th>Visit type</th>
                                    <th>Accept/Reject</th>

                                </tr>
                            </thead>


                            <tbody>
                                <tr *ngFor="let item of checkoutOrdersDataList">
                                    <td>
                                        <label class="checkboxs">
                                            <input type="checkbox">
                                            <span class="checkmarks"></span>
                                        </label>
                                    </td>
                                    <td class="text-bolds">{{item.username}}</td>
                                    <td>{{item.no_of_people}}</td>
                                    <td>{{item.visit_type}}</td>
                                    <td>
                                        <a (click)="paymentAccept(true,item.id)">
                                            <img src="assets/img/icons/check.png" alt="" width="25">
                                        </a>
                                        <a (click)="paymentAccept(false,item.id)">
                                            <img src="assets/img/icons/remove.png" alt="" width="25">
                                        </a>

                                    </td>

                                </tr>
                            </tbody>





                        </table>


                        <table class="table datanew" data-ordering="false" data-page-length="10"  *ngIf="activeButton=='history'">
                            <thead>
                                <tr>
                                    <th>
                                        <label class="checkboxs">
                                            <input type="checkbox" id="select-all">
                                            <span class="checkmarks"></span>
                                        </label>
                                    </th>
                                    <th>User Name</th>
                                    <th>No of People</th>
                                    <th>Visit type</th>
                                    <th>Accept/Reject</th>

                                </tr>
                            </thead>


                            <tbody>
                                <tr *ngFor="let item of historyOrdersDataList">
                                    <td>
                                        <label class="checkboxs">
                                            <input type="checkbox">
                                            <span class="checkmarks"></span>
                                        </label>
                                    </td>
                                    <td class="text-bolds">{{item.username}}</td>
                                    <td>{{item.no_of_people}}</td>
                                    <td>{{item.visit_type}}</td>
                                </tr>
                            </tbody>





                        </table>




                    </div>
                </div>
            </div>
            <ng-template #noDataFound>
                <!-- <tbody> -->
                <!-- <tr> -->
                <p>No Data Found</p>
                <!-- <td>No Data Found</td> -->
                <!-- </tr> -->
                <!-- </tbody> -->
            </ng-template>

        </div>

    </div>




</div>








<ng-template #noDataFound>
    <!-- <tbody> -->
    <!-- <tr> -->
    <p>No Data Found</p>
    <!-- <td>No Data Found</td> -->
    <!-- </tr> -->
    <!-- </tbody> -->
</ng-template>



<!-- Confirmation Popup -->

<div class="modal fade" id="confirmationModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Are You Sure To Delete ?</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <!-- <span aria-hidden="true">&times;</span> -->
                </button>
            </div>
            <div class="modal-body">
                This Process is irreversible.
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-primary" (click)="deletedItem()">Delete</button>
            </div>
        </div>
    </div>
</div>