// table{
//   min-height: 250px;
// }



.order_tracking_header {
  display: flex;
  gap: 1em;
  width: 100%;


  .tracking_search {
    position: relative;
    border: solid 1px black;
    border-radius: 5px;
    display: flex;
    align-items: center;
    padding: 0px 5px;
    width: 80%;

    input {
      border: none;
      outline: none;
      width: 100%;
    }

    h5 {
      cursor: pointer;
    }

  }








}



.radio-buttons {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;

  label {
    display: flex;
    gap: 6px;
    cursor: pointer;
  }

  input[type=radio] {
    accent-color: red;
    cursor: pointer;

  }

  .active_radio {
    font-weight: bold;
    color: red;
  }
}

@media only screen and (max-width:767px) {
  .radio-buttons {
    justify-content: space-between;
    gap: 1em;

    label {
      min-width: 45%;

    }
  }
}
































tr>th:last-child {
  position: sticky;
  right: 0;
  background-color: #fafbfe;
}



tr>td:last-child {
  position: sticky;
  right: 0;
  background-color: white;
}

// tr:nth-child(odd) td {
//    background: white;
// }

// tr:nth-child(even) td {
//    background: gray;
// }

























.dashboard_card {

  display: flex;
  flex-direction: row;
  max-width: 250px;
  align-items: center;
  border-radius: 15px;
  background: linear-gradient(to right, #bc12562e, #bc1256); 

  height: 100px;
  gap: 25px;
  padding: 15px;  
  cursor: pointer;
  transition: all 0.3s ease-in-out;


  &:hover{
  transform: scale(1.1);

  }

  .card_img {
    background-color: red;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    img{
      padding: 10px;
      // width: 25px;
      // height: 25px;
      object-fit: contain;
    }
  }

  .card_info {
    p{

      margin: 0;
    }
    h5{

    }

  }

}