
// table{
//   min-height: 250px;
// }



.order_tracking_header {
  display: flex;
  gap: 1em;
  width: 100%;


  .tracking_search {
    position: relative;
    border: solid 1px black;
    border-radius: 5px;
    display: flex;
    align-items: center;
    padding: 0px 5px;
    width: 80%;

    input {
      border: none;
      outline: none;
      width: 100%;
    }
    h5
    {
      cursor: pointer;
    }

  }








}



.radio-buttons {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;

  label {
    display: flex;
    gap: 6px;
    cursor: pointer;
  }
  input[type=radio] {
    accent-color: red;
    cursor: pointer;
    
  }
  .active_radio{
    font-weight: bold;
    color: red;
  }
}

@media only screen and (max-width:767px) {
  .radio-buttons {
    justify-content: space-between;
    gap: 1em;

    label {
      min-width: 45%;

    }
  }
}
































tr>th:last-child{
  position: sticky;
  right: 0;
  background-color: #fafbfe;
}



tr>td:last-child {
  position: sticky;
  right: 0;
  background-color: white;
}

// tr:nth-child(odd) td {
//    background: white;
// }

// tr:nth-child(even) td {
//    background: gray;
// }