<div class="main-wrapper">

    <app-header></app-header>
    <app-sidebar></app-sidebar>


    <div class="page-wrapper">
        <div class="content">
            <div class="row">
                <div class="col-lg-3 col-sm-6 col-12">
                    <div class="dash-widget">
                        <div class="dash-widgetimg">
                            <span><img src="assets/img/icons/dash1.svg" alt="img"></span>
                        </div>
                        <div class="dash-widgetcontent">
                            <h5><span class="counters" data-count="307144.00">110</span></h5>
                            <h6>Total Orders</h6>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6 col-12">
                    <div class="dash-widget dash1">
                        <div class="dash-widgetimg">
                            <span><img src="assets/img/icons/dash2.svg" alt="img"></span>
                        </div>
                        <div class="dash-widgetcontent">
                            <h5><span class="counters" data-count="4385.00">4385</span></h5>
                            <h6>Total No. of Dues</h6>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6 col-12">
                    <div class="dash-widget dash2">
                        <div class="dash-widgetimg">
                            <span><img src="assets/img/icons/dash3.svg" alt="img"></span>
                        </div>
                        <div class="dash-widgetcontent">
                            <h5>&#8377;<span class="counters" data-count="385656.50">30000</span></h5>
                            <h6>Total Revenue</h6>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6 col-12">
                    <div class="dash-widget dash3">
                        <div class="dash-widgetimg">
                            <span><img src="assets/img/icons/dash4.svg" alt="img"></span>
                        </div>
                        <div class="dash-widgetcontent">
                            <h5>&#8377;<span class="counters" data-count="40000.00">3000</span></h5>
                            <h6>Wemesy Wallet</h6>
                        </div>
                    </div>
                </div>


            </div>

            <div class="row">
                <div class="col-lg-7 col-sm-12 col-12 d-flex">
                    <div class="card flex-fill">
                        <div class="card-header pb-0 d-flex justify-content-between align-items-center">
                            <h5 class="card-title mb-0">Purchase & Sales</h5>
                            <div class="graph-sets">
                                <ul>
                                    <li>
                                        <span>Sales</span>
                                    </li>
                                    <li>
                                        <span>Purchase</span>
                                    </li>
                                </ul>
                                <div class="dropdown">
                                    <button class="btn btn-white btn-sm dropdown-toggle" type="button"
                                        id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
                                        2022 <img src="assets/img/icons/dropdown.svg" alt="img" class="ms-2">
                                    </button>
                                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                        <li>
                                            <a class="dropdown-item">2022</a>
                                        </li>
                                        <li>
                                            <a class="dropdown-item">2021</a>
                                        </li>
                                        <li>
                                            <a class="dropdown-item">2020</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="card-body">
                            <!-- <div id="sales_charts"></div> -->

                            <canvas baseChart class="chart" [data]="barChartData" [options]="barChartOptions"
                                [type]="barChartType" (chartHover)="chartHovered($event)"></canvas>
                        </div>





                        <!-- 
                        <canvas baseChart [type]="'pie'" [datasets]="pieChartDatasets" [labels]="pieChartLabels"
                            [options]="pieChartOptions" [plugins]="pieChartPlugins" [legend]="pieChartLegend">
                        </canvas> -->









                    </div>
                </div>
                <div class="col-lg-5 col-sm-12 col-12 d-flex">
                    <div class="card flex-fill">
                        <div class="card-header pb-0 d-flex justify-content-between align-items-center">
                            <h4 class="card-title mb-0">Recently Added Products</h4>
                        </div>
                        <div class="card-body">
                            <canvas baseChart class="chart" [data]="pieChartData" [type]="pieChartType"
                                [options]="pieChartOptions">
                            </canvas>

                        </div>
                    </div>
                </div>
            </div>


            <div class="card">
                <div class="card-header pb-0">
                    <h5 class="card-title">Order Tracking</h5>


                    <div class="table-top my-4 gap-3 align-items-start">

                        <div class="order_tracking_header">
                            <div class="tracking_search">
                                <img src="assets/img/icons/search-white.svg" alt="img" class="me-2">

                                <input type="search" class="traking_search_input" placeholder="Search here"
                                    [(ngModel)]="trackingSearchValue">
                                <h5 (click)="onInputCross()">&times;</h5>

                            </div>

                        </div>



                        <div class="radio-buttons">


                            <label *ngFor="let option of options">
                                <input type="radio" name="options" [value]="option.value"
                                    [(ngModel)]="trackingSelectedValue" (change)="onBtnClick(option.value)" />
                                <p [ngClass]="trackingSelectedValue==option.value?'active_radio':''">{{
                                    option.label }}</p>
                            </label>
                        </div>
                    </div>


                </div>
                <div class="card-body pt-0">
                    <div class="table-responsive" *ngIf="activeButton=='requested'">
                        <table class="table table-nowrap mb-0">
                            <thead>
                                <tr>
                                    <th>User Name</th>
                                    <th>No of People</th>
                                    <th>Visit type</th>
                                    <th>Action&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                    </th>
                                    <th>Date of Birth</th>
                                    <th>Arrival Time</th>
                                    <th>Message</th>
                                </tr>
                            </thead>

                            <tbody *ngIf="requestedOrdersDataList">
                                <tr *ngFor="let item of requestedOrdersDataList | searchFilter:trackingSearchValue">

                                    <td class="text-bolds">{{item.username}}</td>
                                    <td>{{item.no_of_people}}</td>
                                    <td>{{item.visit_type}}</td>

                                    <td>
                                        <span class="badges bg-lightgreen me-1"
                                            (click)="acceptOrNot(true,item.id)">Requested</span>

                                        <img src="assets/img/icons/delete.svg" alt="img" class="align-middle"
                                            (click)="getDeletedItem(item.id)" data-toggle="modal"
                                            data-target="#exampleModalCenter">


                                    </td>
                                    <!-- 
                                    <td>
                                        <a class="me-3" >
                                                </a>
                                        <a class="me-3" >
                                        </a>
                                    </td> -->



                                    <td>{{item.dob}}</td>
                                    <td>{{item.time_of_arrival}}</td>
                                    <td>{{item.message}}</td>


                                </tr>
                                <tr>
                                    <td colspan="6">Accepted Data</td>
                                    <!-- <td>Accepted Data</td> -->
                                    <!-- <td>Accepted Data</td> -->
                                    <!-- <td>Accepted Data</td> -->
                                    <!-- <td>Accepted Data</td> -->
                                </tr>
                                <tr *ngFor="let item of acceptedOrdersDataList">

                                    <td class="text-bolds">{{item.username}}</td>
                                    <td>{{item.no_of_people}}</td>
                                    <td>{{item.visit_type}}</td>
                                    <td>
                                        <a (click)="acceptOrNot(true,item.id)">
                                            <img src="assets/img/icons/check.png" alt="" width="25">
                                        </a>
                                        <a (click)="getDeletedItem(item.id)" data-toggle="modal"
                                            data-target="#exampleModalCenter">
                                            <img src="assets/img/icons/remove.png" alt="" width="25">
                                        </a>

                                    </td>

                                </tr>
                            </tbody>
                        </table>
                    </div>



                    <div class="table-responsive" *ngIf="activeButton=='active'">
                        <table class="table table-nowrap mb-0">
                            <thead>
                                <tr>

                                    <th>User Name</th>
                                    <th>No of People</th>
                                    <th>Visit type</th>
                                    <th>Accept/Reject</th>

                                </tr>
                            </thead>
                            <tbody *ngIf="activeOrdersDataList">
                                <tr *ngFor="let item of activeOrdersDataList">

                                    <td class="text-bolds">{{item.username}}</td>
                                    <td>{{item.no_of_people}}</td>
                                    <td>{{item.visit_type}}</td>


                                </tr>
                            </tbody>

                        </table>
                    </div>




                    <div class="table-responsive" *ngIf="activeButton=='checkout'">
                        <table class="table table-nowrap mb-0">
                            <thead>
                                <tr>

                                    <th>User Name</th>
                                    <th>No of People</th>
                                    <th>Visit type</th>
                                    <th>Accept/Reject</th>

                                </tr>
                            </thead>

                            <tbody *ngIf="checkoutOrdersDataList">
                                <tr *ngFor="let item of checkoutOrdersDataList">

                                    <td class="text-bolds">{{item.username}}</td>
                                    <td>{{item.no_of_people}}</td>
                                    <td>{{item.visit_type}}</td>
                                    <td>
                                        <a (click)="paymentAccept(true,item.id)">
                                            <img src="assets/img/icons/check.png" alt="" width="25">
                                        </a>
                                        <a (click)="paymentAccept(false,item.id)">
                                            <img src="assets/img/icons/remove.png" alt="" width="25">
                                        </a>

                                    </td>

                                </tr>
                            </tbody>



                        </table>
                    </div>




                    <div class="table-responsive" *ngIf="activeButton=='history'">
                        <table class="table table-nowrap mb-0">
                            <thead>
                                <tr>

                                    <th>User Name</th>
                                    <th>No of People</th>
                                    <th>Visit type</th>
                                    <th>Accept/Reject</th>

                                </tr>
                            </thead>


                            <tbody *ngIf="historyOrdersDataList">
                                <tr *ngFor="let item of historyOrdersDataList">

                                    <td class="text-bolds">{{item.username}}</td>
                                    <td>{{item.no_of_people}}</td>
                                    <td>{{item.visit_type}}</td>
                                </tr>
                            </tbody>



                        </table>
                    </div>




                </div>
            </div>


            <ng-template #noDataFound>
                <!-- <tbody> -->
                <!-- <tr> -->
                <p>No Data Found</p>
                <!-- <td>No Data Found</td> -->
                <!-- </tr> -->
                <!-- </tbody> -->
            </ng-template>

        </div>

    </div>





</div>








<ng-template #noDataFound>
    <!-- <tbody> -->
    <!-- <tr> -->
    <p>No Data Found</p>
    <!-- <td>No Data Found</td> -->
    <!-- </tr> -->
    <!-- </tbody> -->
</ng-template>



<!-- Confirmation Popup -->


<ng-template #confirmationDialog>
    <div>sadsa</div>
</ng-template>














<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Are Your Sure to Delete ?</h5>
               
            </div>
            <div class="modal-body">

                <h6>This process is irreversible</h6>
            </div>
            <div class="modal-footer justify-content-end">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" (click)="deleteItem()">Delete</button>
            </div>
        </div>
    </div>
</div>