<div class="main-wrapper">
    <div class="account-content">
        <div class="login-wrapper"
            style="background: url('assets/img/signup-bg.jpg'); background-repeat: no-repeat;background-size: cover;">
            <div class="login-content" style=" background-color: white;  border-radius: 10px; ">
                <div class="login-userset ">
                    <div class="login-logo m-auto">
                        <img src="assets/img/logo.png" alt="img">
                    </div>
                    <div class="login-userheading text-center">
                        <h3>Forgot password?</h3>
                        <h4>Don’t warry! it happens. Please enter the address <br>
                            associated with your account.</h4>
                    </div>
                    <form [formGroup]="forgotForm">
                        <div class="form-login">
                            <label>Email</label>
                            <div class="form-addons">
                                <input type="text" placeholder="Enter your email address" formControlName="email">
                                <img src="assets/img/icons/mail.svg" alt="img">
                            </div>
                            <p *ngIf="forgotForm.controls.email?.errors?.required==true" class="text-danger">Please
                                Enter Email Id</p>
                            <p *ngIf="forgotForm.controls.email?.errors?.email==true" class="text-danger">Please Enter
                                Valid Email Id</p>
                        </div>

                        <div class="form-login">
                            <button class="btn btn-login" [disabled]="forgotForm.invalid"
                                (click)="forgotPassword()">Submit</button>
                        </div>
                        <div class="signinform text-center">
                            <h4>Remember it ? <a (click)="navigateToSignin()" class="hover-a">Sign In Now</a></h4>
                        </div>
                    </form>

                </div>
            </div>
            <!-- <div class="login-img">
                <img src="assets/img/login.jpg" alt="img">
            </div> -->
        </div>
    </div>
</div>