<div class="main-wrapper">

    <app-header></app-header>
    <app-sidebar></app-sidebar>


    <div class="page-wrapper">
        <div class="content">
            <div class="page-header ">
                <div class="page-title">
                    <h4>Branch Addition</h4>
                    <h6>Add Branch</h6>
                </div>
            </div>





            <div class="card">
                <div class="card-body">
                 

                    <form class="row" [formGroup]="addBranchForm">
                        <div class="col-sm-4 col-12">
                            <div class="form-group">
                                <label>Business Name</label>
                                <input type="text" formControlName="business_name" class="form-control">
                            </div>
                        </div>

                        <div class="col-sm-4 col-12">
                            <div class="form-group">
                                <label>Business Type</label>
                                <input type="text" formControlName="business_type" class="form-control">
                            </div>
                        </div>

                        <div class="col-sm-4 col-12">
                            <div class="form-group">
                                <label>Business Branch</label>
                                <input type="text" formControlName="business_branch" class="form-control">
                            </div>
                        </div>

                        <div class="col-sm-4 col-12">
                            <div class="form-group">
                                <label>Business Structure</label>
                                <input type="text" formControlName="business_structure" class="form-control">
                            </div>
                        </div>

                        <div class="col-sm-4 col-12">
                            <div class="form-group">
                                <label>Registered Email</label>
                                <input type="email" formControlName="registered_email" class="form-control">
                            </div>
                        </div>

                        <div class="col-sm-4 col-12">
                            <div class="form-group">
                                <label>Password</label>
                                <input type="password" formControlName="password" class="form-control">
                            </div>
                        </div>

                        <div class="col-sm-4 col-12">
                            <div class="form-group">
                                <label>Registered Mobile No</label>
                                <input type="text" formControlName="registered_mobile_no" class="form-control">
                            </div>
                        </div>

                        <div class="col-sm-4 col-12">
                            <div class="form-group">
                                <label>Country</label>
                                <input type="text" formControlName="country" class="form-control">
                            </div>
                        </div>

                        <div class="col-sm-4 col-12">
                            <div class="form-group">
                                <label>State</label>
                                <input type="text" formControlName="state" class="form-control">
                            </div>
                        </div>

                        <div class="col-sm-4 col-12">
                            <div class="form-group">
                                <label>City</label>
                                <input type="text" formControlName="city" class="form-control">
                            </div>
                        </div>

                        <div class="col-sm-4 col-12">
                            <div class="form-group">
                                <label>Registered Address</label>
                                <input type="text" formControlName="registered_address" class="form-control">
                            </div>
                        </div>

                        <div class="col-sm-4 col-12">
                            <div class="form-group">
                                <label>URL</label>
                                <input type="text" formControlName="url" class="form-control">
                            </div>
                        </div>

                        <div class="col-sm-4 col-12">
                            <div class="form-group">
                                <label>Business Registration No</label>
                                <input type="text" formControlName="business_registration_no" class="form-control">
                            </div>
                        </div>

                        <div class="col-sm-4 col-12">
                            <div class="form-group">
                                <label>Business Registration Date</label>
                                <input type="date" formControlName="business_registration_date" class="form-control">
                            </div>
                        </div>

                        <div class="col-sm-4 col-12">
                            <div class="form-group">
                                <label>PAN</label>
                                <input type="text" formControlName="pan" class="form-control">
                            </div>
                        </div>

                        <div class="col-sm-4 col-12">
                            <div class="form-group">
                                <label>GST No</label>
                                <input type="text" formControlName="gst_no" class="form-control">
                            </div>
                        </div>

                        <div class="col-sm-4 col-12">
                            <div class="form-group">
                                <label>FSSAI License Number</label>
                                <input type="text" formControlName="fssai_license_number" class="form-control">
                            </div>
                        </div>

                        <div class="col-sm-4 col-12">
                            <div class="form-group">
                                <label>FSSAI Issued On</label>
                                <input type="date" formControlName="fssai_issued_on" class="form-control">
                            </div>
                        </div>

                        <div class="col-sm-4 col-12">
                            <div class="form-group">
                                <label>FSSAI Valid Upto</label>
                                <input type="date" formControlName="fssai_valid_upto" class="form-control">
                            </div>
                        </div>

                        <div class="col-sm-4 col-12">
                            <div class="form-group">
                                <label>Vendor Scale</label>
                                <input type="text" formControlName="vendor_scale" class="form-control">
                            </div>
                        </div>

                        <!-- Add more form fields as necessary -->

                        <div class="col-sm-4 col-12">
                            <div class="form-group">
                                <label>Submit</label>
                                <button type="submit" class="btn btn-primary">Submit</button>
                            </div>
                        </div>
                    </form>




                    <div class="d-flex justify-content-between">
                        <div class="page-btn">
                            <button class="btn btn-primary me-2">Add New Item</button>
                        </div>
                        <div class="page-btn">
                            <button class="btn btn-primary me-2" (click)="addBranch()">Add</button>
                            <button class="btn btn-secondary">Cancel</button>
                        </div>
                    </div>


                </div>
            </div>

        </div>

    </div>
</div>