<div class="main-wrapper">

    <app-header></app-header>
    <app-sidebar></app-sidebar>


    <div class="page-wrapper">
        <div class="content">
            <div class="page-header ">
                <div class="page-title">
                    <h4>Branch Addition</h4>
                    <h6>Add Branch</h6>
                </div>
            </div>





            <div class="card">
                <div class="card-body">

                    <form class="row" [formGroup]="addBranchForm">
                        <!-- Business Name -->
                        <div class="col-sm-4 col-12">
                            <div class="form-group">
                                <label>Business Name</label>
                                <input type="text" formControlName="business_name" class="form-control">
                            </div>
                        </div>

                        <!-- Business Type -->
                        <div class="col-sm-4 col-12">
                            <div class="form-group">
                                <label>Business Type</label>
                                <input type="text" formControlName="business_type" class="form-control">
                            </div>
                        </div>

                        <!-- Business Branch -->
                        <div class="col-sm-4 col-12">
                            <div class="form-group">
                                <label>Business Branch</label>
                                <input type="text" formControlName="business_branch" class="form-control">
                            </div>
                        </div>

                        <!-- Business Structure -->
                        <div class="col-sm-4 col-12">
                            <div class="form-group">
                                <label>Business Structure</label>
                                <input type="text" formControlName="business_structure" class="form-control">
                            </div>
                        </div>

                        <!-- Registered Email -->
                        <div class="col-sm-4 col-12">
                            <div class="form-group">
                                <label>Registered Email <span class="manitory">*</span></label>
                                <input type="email" formControlName="registered_email" class="form-control">
                            </div>
                        </div>

                        <!-- Password -->
                        <div class="col-sm-4 col-12">
                            <div class="form-group">
                                <label>Password <span class="manitory">*</span></label>
                                <input type="password" formControlName="password" class="form-control">
                            </div>
                        </div>

                        <!-- Registered Mobile No -->
                        <div class="col-sm-4 col-12">
                            <div class="form-group">
                                <label>Registered Mobile No <span class="manitory">*</span></label>
                                <input type="text" formControlName="registered_mobile_no" class="form-control">
                            </div>
                        </div>

                        <!-- Country -->
                        <div class="col-sm-4 col-12">
                            <div class="form-group">
                                <label>Country</label>
                                <input type="text" formControlName="country" class="form-control">
                            </div>
                        </div>

                        <!-- State -->
                        <div class="col-sm-4 col-12">
                            <div class="form-group">
                                <label>State</label>
                                <input type="text" formControlName="state" class="form-control">
                            </div>
                        </div>

                        <!-- City -->
                        <div class="col-sm-4 col-12">
                            <div class="form-group">
                                <label>City</label>
                                <input type="text" formControlName="city" class="form-control">
                            </div>
                        </div>

                        <!-- Registered Address -->
                        <div class="col-sm-4 col-12">
                            <div class="form-group">
                                <label>Registered Address <span class="manitory">*</span></label>
                                <input type="text" formControlName="registered_address" class="form-control">
                            </div>
                        </div>

                        <!-- Business Registration No -->
                        <div class="col-sm-4 col-12">
                            <div class="form-group">
                                <label>Business Registration No</label>
                                <input type="text" formControlName="business_registration_no" class="form-control">
                            </div>
                        </div>

                        <!-- Business Registration Date -->
                        <div class="col-sm-4 col-12">
                            <div class="form-group">
                                <label>Business Registration Date</label>
                                <input type="date" formControlName="business_registration_date" class="form-control">
                            </div>
                        </div>

                        <!-- PAN -->
                        <div class="col-sm-4 col-12">
                            <div class="form-group">
                                <label>PAN</label>
                                <input type="text" formControlName="pan" class="form-control">
                            </div>
                        </div>

                        <!-- GST No -->
                        <div class="col-sm-4 col-12">
                            <div class="form-group">
                                <label>GST No</label>
                                <input type="text" formControlName="gst_no" class="form-control">
                            </div>
                        </div>

                        <!-- FSSAI License Number -->
                        <div class="col-sm-4 col-12">
                            <div class="form-group">
                                <label>FSSAI License Number</label>
                                <input type="text" formControlName="fssai_license_number" class="form-control">
                            </div>
                        </div>

                        <!-- FSSAI Issued On -->
                        <div class="col-sm-4 col-12">
                            <div class="form-group">
                                <label>FSSAI Issued On</label>
                                <input type="date" formControlName="fssai_issued_on" class="form-control">
                            </div>
                        </div>

                        <!-- FSSAI Valid Upto -->
                        <div class="col-sm-4 col-12">
                            <div class="form-group">
                                <label>FSSAI Valid Upto</label>
                                <input type="date" formControlName="fssai_valid_upto" class="form-control">
                            </div>
                        </div>

                        <!-- Best Known For -->
                        <div class="col-sm-4 col-12">
                            <div class="form-group">
                                <label>Best Known For</label>
                                <input type="text" formControlName="best_known_for" class="form-control">
                            </div>
                        </div>

                        <!-- Any USP -->
                        <div class="col-sm-4 col-12">
                            <div class="form-group">
                                <label>Any USP</label>
                                <input type="text" formControlName="any_usp" class="form-control">
                            </div>
                        </div>

                        <!-- Total Staff -->
                        <div class="col-sm-4 col-12">
                            <div class="form-group">
                                <label>Total Staff</label>
                                <input type="text" formControlName="total_staff" class="form-control">
                            </div>
                        </div>

                        <!-- Staff Strength -->
                        <div class="col-sm-4 col-12">
                            <div class="form-group">
                                <label>Staff Strength</label>
                                <input type="text" formControlName="staff_strength" class="form-control">
                            </div>
                        </div>

                        <!-- House Capacity -->
                        <div class="col-sm-4 col-12">
                            <div class="form-group">
                                <label>House Capacity</label>
                                <input type="text" formControlName="house_capacity" class="form-control">
                            </div>
                        </div>

                        <!-- Parking -->
                        <!-- <div class="col-sm-4 col-12">
                            <div class="form-group">
                                <label>Parking Available</label>
                                <input type="checkbox" formControlName="parking" class="form-check-input">
                            </div>
                        </div> -->

                        <!-- Smoke Space -->
                        <!-- <div class="col-sm-4 col-12">
                            <div class="form-group">
                                <label>Smoking Area Available</label>
                                <input type="checkbox" formControlName="smoke_space" class="form-check-input">
                            </div>
                        </div> -->

                    </form>




                    <div class="d-flex justify-content-between">
                        <div class="page-btn">
                            <button class="btn btn-primary me-2">Add New Item</button>
                        </div>
                        <div class="page-btn">
                            <button class="btn btn-primary me-2" (click)="addBranch()">Add</button>
                            <button class="btn btn-secondary">Cancel</button>
                        </div>
                    </div>


                </div>
            </div>

        </div>

    </div>
</div>