<div class="main-wrapper">
    <div class="account-content">
        <div class="login-wrapper">
            <div class="login-content">
                <div class="login-userset">
                    <div class="login-logo">
                        <img src="assets/img/logo.png" alt="img">
                    </div>
                    <div class="login-userheading">
                        <h3>Sign In</h3>
                        <h4>Please login to your account</h4>
                    </div>
                    <form [formGroup]="signinForm">
                        <div class="form-login">
                            <label>Email</label>
                            <div class="form-addons">
                                <input type="text" placeholder="Enter your email address" formControlName="username">
                                <img src="assets/img/icons/mail.svg" alt="img">
                            </div>
                            <p *ngIf="signinForm.controls.username?.errors?.required==true" class="text-danger">Please
                                Enter Email Id</p>
                        </div>
                        <div class="form-login">
                            <label>Password</label>
                            <div class="pass-group">
                                <input type="password" class="pass-input" placeholder="Enter your password"
                                    formControlName="password">
                                <span class="fas toggle-password fa-eye-slash"></span>
                            </div>
                            <p *ngIf="signinForm.controls.password?.errors?.required==true" class="text-danger">Please
                                enter Your Password </p>
                        </div>
                        <div class="form-login">
                            <div class="alreadyuser">
                                <h4><a class="hover-a" (click)="navigateToForgotPass()">Forgot Password?</a></h4>
                            </div>
                        </div>
                        <div class="form-login">
                            <button class="btn btn-login" (click)="onSignIn()" [disabled]="signinForm.invalid">Sign
                                In</button>
                        </div>
                        <div class="signinform text-center">
                            <h4>Don’t have an account? <a (click)="navigateToSignup()" class="hover-a">Sign Up</a></h4>
                        </div>
                    </form>

                </div>
            </div>
            <div class="login-img">
                <img src="assets/img/login.jpg" alt="img">
            </div>
        </div>
    </div>
</div>