.ingredients_list {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-bottom: 30px;
    li {
        display: flex;
        flex-direction: row;
        border: solid 1px black;
        border-radius: 5px;
        width: fit-content;
        padding: 0px 10px;
        min-height: 30px;
        gap: 15px;
        align-items: center;
        min-width: 95px;
        justify-content: space-between;
        
        p{
            margin-bottom: 0px;
        }
        h3{
            cursor: pointer;
        }
    }
}






.btn-group {
	// min-width: 18rem;
	width: 100%;

	.dropdown-menu {
		border: none;
		background: white;
		-webkit-box-shadow: 0px 10px 34px -20px rgba(0, 0, 0, 0.41);
		-moz-box-shadow: 0px 10px 34px -20px rgba(0, 0, 0, 0.41);
		box-shadow: 0px 10px 34px -20px rgba(0, 0, 0, 0.41);
		padding: 0;
		// min-width: 18rem;
		width: 100%;
		// margin-top: 15px;

		border-top-left-radius: 0px;
		border-top-right-radius: 0px;

		border-left: solid 1px black;
		border-right: solid 1px black;
		border-bottom: solid 1px black;
		top: 40px !important;
		left: 0px !important;
		transform: none !important;
		max-height: 250px;
		overflow-y: auto;



		position: relative;
		// &:after, &:before{
		// 	content: ' ';
		//   display: block;
		//   border-style: solid;
		//   border-width: 0 .7em .6em .7em;
		//   border-color: transparent;
		//   position: absolute;
		//   right: 0;
		//   margin-right: 16px;
		//   z-index: -1;
		// }
		// &:before{
		// 	top: -.6em;
		//   border-bottom-color: rgba(0,0,0,.03);
		// }

		.dropdown-item {

			// 	font-size: 16px;
			// 	color: rgba(0,0,0,.7);
			// 	font-weight: 400;
			// 	padding: 15px 30px;
			// 	position: relative;
			// 	border-bottom: 1px solid rgba(0,0,0,.05);
			// 	no-wrap: normal;
			&:hover {
				border: none;
				background-color: red;
			}
			&.dropdown-item-disabled
			{
				pointer-events: none;
			}

			// 	&:after{
			// 		position: absolute;
			// 		top: 0;
			// 		bottom: 0;
			// 		left: 0;
			// 		content: '';
			// 		width: 4px;
			// 		// @include transition(.3s);
			// 		opacity: 0;
			// 	}
			// 	span{
			// 		font-size: 20px;
			// 	}
			// 	&.color-1{
			// 		span{
			// 			color: $color-1;
			// 		}
			// 		&:hover{
			// 			&:after{
			// 				opacity: 1;
			// 				background: $color-1;
			// 			}
			// 		}
			// 	}
			// 	&.color-2{
			// 		span{
			// 			color: $color-2;
			// 		}
			// 		&:hover{
			// 			&:after{
			// 				opacity: 1;
			// 				background: $color-2;
			// 			}
			// 		}
			// 	}
			// 	&.color-3{
			// 		span{
			// 			color: $color-3;
			// 		}
			// 		&:hover{
			// 			&:after{
			// 				opacity: 1;
			// 				background: $color-3;
			// 			}
			// 		}
			// 	}
			// 	&.color-4{
			// 		span{
			// 			color: $color-4;
			// 		}
			// 		&:hover{
			// 			&:after{
			// 				opacity: 1;
			// 				background: $color-4;
			// 			}
			// 		}
			// 	}
		}
	}
}




//COVER BG
.img {
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
}

.dropdown-toggle::after {
	position: absolute;
	top: 50%;
	right: 20px;
	transform: translateY(-50%);
}

.custom-select-btn {
	padding: 9px 15px;
	width: 100%;
	cursor: pointer;
	border: 1px solid rgba(145, 158, 171, 0.32);
	color: #637381;
	border-radius: 5px;
	font-size: 14px;
	font-weight: 400;
	background-color: white;
	// -webkit-box-shadow: 0px 10px 20px -6px rgba(0,0,0,0.12);
	// -moz-box-shadow: 0px 10px 20px -6px rgba(0,0,0,0.12);
	// box-shadow: 0px 10px 20px -6px rgba(0,0,0,0.12);
	position: relative;

	// @include transition(.3s);
	i {
		font-size: 22px;
		line-height: 1;
	}

	&:active,
	&:focus {
		outline: none !important;
		border-bottom-left-radius: 0px;
		border-bottom-right-radius: 0px;

		border-left: solid 1px black;
		border-right: solid 1px black;
		border-top: solid 1px black;


	}

}